/* Слайдер */ 
.slick-slider{
	position: relative;
}
/* Слайдер запущен */ 
.slick-slider.slick-initialized{} 
/* Слайдер с точками */ 
.slick-slider.slick-dotted{}


// Ограничивающая оболочка 
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */ 
.slick-track{
	display: flex;
	text-align: center;
	flex: 1 1 33.333%;
}

/* Слайд */ 
.slick-slide{
} 
/* Слайд активный (показывается) */ 
.slick-slide.slick-active{} 
/* Слайд основной */ 
.slick-slide.slick-current{} 
/* Слайд по центру */ 
.slick-slide.slick-center{} 
/* Клонированный слайд */ 
.slick-slide.slick-cloned{}

/* Стрелка */ 
.slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;

	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	width: 29px;
	height: 48px;

	margin: 0px 10px;

	&::before{
		content: '';
		width: 29px;
		height: 48px;
	}
}
/* Стрелка влево */ 
.slick-arrow.slick-prev{
	left: 0;
	background: url("../img/slider-images/arrows/arrow-l.png") 0 0 no-repeat;
}
/* Стрелка вправо */ 
.slick-arrow.slick-next{
	right: 0;
	background: url("../img/slider-images/arrows/arrow-r.png") 0 0 no-repeat;
}
/* Стрелка не активная */ 
.slick-arrow.slick-disabled{}

/* Точки (булиты) */ 
.slick-dots{}
.slick-dots li{}
/* Активная точка */ 
.slick-dots li.slick-active{} 
/* Элемент точки */ 
.slick-dots li button{}