/* Download */

.download {
    padding: 60px 70px;
    text-align: center;
}

@media (max-width: 768px) {
    .download {
        padding: 30px 15px;
    }
}

/* Title */

.download__title {
    padding-bottom: 30px;
}

/* Link */

.download__link:focus {
    outline: 3px dotted var(--color-blue-medium);
}