/* Download */

.download {
    padding: 60px 70px;
    text-align: center;
}

@media (max-width: 768px) {
    .download {
        padding: 30px 15px;
    }
}

/* Title */

.download__title {
    padding-bottom: 30px;
}