/* Header */

.header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 1fr;
    align-items: center;
    padding: 18px 70px;
    margin: 30px 0 0 30px;
}

@media (max-width: 768px) {
    .header {
        padding: 18px 15px;
    }
}

/* Logo */

.header__logo {
    z-index: 100;
}

.header__logo:focus {
    outline: 3px dotted var(--color-blue-medium);
}

/* List */

.header__list {
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
}

/* Link */

.header__link {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-gray-medium);
}

.header__link:hover {
    color: var(--color-gray-dark);
}

.header__link:focus {
    outline: 3px dotted var(--color-blue-medium);
}

/* Burger */

.header__burger {
    display: none;
}

.header__burger:focus {
    outline: 3px dotted var(--color-blue-medium);
}

@media (max-width: 768px) {
    .header__burger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
        margin-left: auto;
        background-color: transparent;
        z-index: 100;
    }
    .header__burger::before, .header__burger::after {
        content: '';
        position: absolute;
        left: 0;
        height: 2px;
        background-color: var(--color-gray-medium);
        transition: all 0.3s ease 0s;
    }
    .header__burger::before {
        top: 0;
        left: 0;
        width: 100%;
    }
    .header__burger::after {
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .header__burger span {
        position: absolute;
        left: 0px;
        bottom: 9px;
        width: 100%;
        height: 2px;
        background-color: var(--color-gray-medium);
        transition: all 0.4s ease 0s;
    }
    .header__burger.header-menu-active::before {
        top: 9px;
        transform: rotate(-45deg);
        width: 100%;
    }
    .header__burger.header-menu-active::after {
        bottom: 9px;
        transform: rotate(45deg);
        width: 100%;
    }
    .header__burger.header-menu-active span {
        left: 100%;
        opacity: 0;
    }
    .header__list {
        position: fixed;
        left: 0;
        top: -100%;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 60px;
        padding: 150px 0px 0px 0px;
        transition: top 0.3s ease 0s;
        background-color: var(--color-blue-lightest);
        z-index: 99;
    }
    .header__list.header-menu-active {
        top: 0;
    }
}