/* Logo */

.logo {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    align-items: center;
    position: relative;
}

/* Title */

.logo__title {
    font-size: 26px;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--color-gray-medium);
}

.logo__title:hover {
    color: var(--color-gray-dark);
}

@media (max-width: 990px) {
    .logo__title {
        font-size: 22px;
    }
}

/* Image */

.logo__image {
    width: 60px;
}

/* Hat */

.logo__hat {
    position: absolute;
    left: -50px;
    top: -50px;
    transform: rotateY(180deg) rotateZ(30deg);
    display: inline-block;
}