/* Main */

.main-section {
    background-color: #ffffff;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: fit-content(1fr) 1fr;
    align-items: center;
    padding: 15px 70px 30px;
    position: relative;
    z-index: 0;
}

@media (max-width: 768px) {
    .main-section {
        flex-direction: column;
        padding: 30px 15px;
    }
}

/* Content */

.main-section__content {
    max-width: 650px;
}

/* Title */

.main-section__title {
    padding-bottom: 31px;
}

/* Text */

.main-section__text {
    padding-bottom: 31px;
}

/* Link */

.main-section__link:focus {
    outline: 3px dotted var(--color-blue-medium);
}

/* Image  */

.main-section__img {
    transform: translateX(70px);
}

@media (max-width: 768px) {
    .main-section__img {
        display: none;
    }
}