/* Body */

body {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #fff;

	/* Sticky footer */

	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;

	/* Lock body */
	&.lock {
		overflow-y: clip;
	}
}

/* Container */

@mixin container() {
	max-width: $max-width + px;
	margin: 0 auto;
	padding: 0px 10px;
}

.container {
	@include container();
}

/* Content */

.content {
	flex: 1 1 auto;

	@media (min-width: 555px) {
		margin: 110px 0px 0px 0px;
	}
}

/* Components */

.btn {
	display: inline-block;
	transition: 0.3s;

	img {
		width: 200px;
	}
}

.title {
	font-size: 36px;
	line-height: 1.2;
	font-weight: 700;
	color: $color-blue-medium;

	&--underline {
		position: relative;
		padding-bottom: 20px;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;

			width: 104px;
			height: 2px;
			background-color: $color-gray-lighter;

			border-radius: 10px;
			opacity: 0.7;
		}
	}

	&--blue {
		color: $color-blue-medium;
	}
}

.text {
	line-height: 24px;
	color: $color-gray-medium;
}

img {
	max-width: 100%;
}

/* Anim-on-scroll */

._anim-item {
	transform: translate(0, 120%);
	opacity: 0;
	transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;

	&._active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

/* Vissually hidden */

.vis-hid {
	visibility: hidden;
	opacity: 0;
	width: 0;
	height: 0;
}

/* Badges */

.badge {
	&::after {
		content: "new";
		font-size: 16px;
		line-height: 7px;
		text-align: center;

		color: $color-gray-medium;

		border-radius: 4px;
		padding: 5px;
		margin-left: 3px;
	}
	&--new::after {
		background-color: #2bc48a;
	}
}