.footer {
	background-color: #2d312f;
	padding: 30px 0;

	& .container {
		display: grid;
		align-items: center;
		grid-auto-flow: column;

		@media (max-width: $md2) {
			grid-auto-flow: row;
			justify-content: center;
			gap: 30px;
		}
	}

	&__copyright {
		font-size: 16px;
		line-height: 25px;
		color: $color-gray-lightest;
		
		@media (max-width: $md2) {
			text-align: center;

			grid-row: 2;
		}
	}

	&__link {
		color: $color-blue-lightest;
		text-decoration: underline;
		&:hover {
			color: $color-red-light;
		}
	}

	&__list {
		display: flex;
		justify-content: center;
		gap: 40px;

		margin-left: auto;

		@media (max-width: $md2) {
			grid-row: 1;

			gap: 40px;
			margin: 0;
		}
	}
}
