.footer {
	background-color: #2d312f;
	padding: 60px 0;

	@media (max-width: $md2) {
		padding: 30px 0;
	}

	& .container {
		display: grid;
		align-items: center;
		grid-auto-flow: column;

		@media (max-width: $md2) {
			grid-auto-flow: row;
			justify-content: center;
			gap: 30px;
		}
	}

	&__copyright {
		font-size: 16px;
		line-height: 19px;
		color: $color-gray-lightest;

		@media (max-width: $md2) {
			grid-row: 2;
		}
	}

	&__list {
		display: flex;
		justify-content: center;
		gap: 40px;

		margin-left: auto;

		@media (max-width: $md2) {
			grid-row: 1;

			gap: 40px;
			margin: 0;
		}
	}
}
