.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: #fff;
	@media (max-width: 555px){
		position: static;
	}
	// .header__row
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;

		min-height: 110px;

		transition: all 0.5s ease 0s;

		@media (max-width:555px){
			flex-direction: column;
			justify-content: center;
			padding-bottom: 20px;
			padding-top: 15px;
		}
	}
	// .header__logo
	&__logo {
		img{
			transition: all 0.3s ease 0s;
			width: 200px;
		}
	}
	// .header__mail
	&__mail {
		font-size: 18px;
		line-height: 1.2;
		font-weight: 400;
		color: #3c3d42;

		display: flex;
		// align-items: center;

		&::before{
			content: '';
			display: block;
			background: url("../img/mail_icon.png") 0 0 no-repeat;
			width: 18px;
			height: 13px;

			margin: 4px 12px 0px 0px;
		}
		@media (max-width:555px){
			margin: 20px 0px 0px 0px;
		}

		&:hover{
			color: #6c6e78;
		}
	}

	// HEADER ON SCROLL

	&.active &__row{
		@media (min-width: 555px) {
			min-height: 70px;
		}
	}
	
}

