.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: #fff;
	box-shadow: 3px 7px 8px 0px rgba(34, 60, 80, 0.11);

	@media (max-width: 555px) {
		position: static;
	}
	// .header__row
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;

		min-height: 110px;

		transition: all 0.5s ease 0s;

		@include container;

		@media (max-width: 555px) {
			flex-direction: column;
			justify-content: center;
			padding-bottom: 15px;
			padding-top: 15px;
			min-height: 90px;
		}
	}
	// .header__logo
	&__logo {
		img {
			transition: all 0.3s ease 0s;
			width: 55px;
			margin-right: 15px;
			@media (max-width: 555px) {
				width: 50px;
			}
		}

		a {
			display: flex;
			align-items: center;
			font: inherit;
			color: $color-gray-medium;
			font-weight: 700;
			font-size: 26px;

			@media (max-width: 555px) {
				font-size: 23px;
			}
		}


	}
	// .header__mail
	&__mail {
		font-size: 18px;
		line-height: 1.2;
		font-weight: 400;
		color: $color-gray-medium;

		display: flex;

		@media (max-width: 555px) {
			display: none;
		}

		&::before {
			content: "";
			display: block;
			background: url("../img/mail_icon.png") 0 0 no-repeat;
			width: 18px;
			height: 13px;

			margin: 4px 12px 0px 0px;
		}
		@media (max-width: 555px) {
			margin: 20px 0px 0px 0px;
		}

		&:hover {
			color: $color-gray-heavier;
		}
	}

	// HEADER ON SCROLL

	&.active &__row {
		@media (min-width: 555px) {
			min-height: 70px;
		}
	}
}
