.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: #fff;
	box-shadow: 3px 7px 8px 0px rgba(34, 60, 80, 0.11);

	@media (max-width: 555px) {
		position: static;
	}

	&__row {
		display: grid;
		align-items: center;
		grid-template-columns: minmax(1fr, 333px) 1fr;
		grid-auto-flow: column;

		min-height: 110px;

		transition: all 0.5s ease 0s;

		@include container;

		@media (max-width: 555px) {
			padding-bottom: 15px;
			padding-top: 15px;
			min-height: 90px;
		}
	}

	&__logo {
		z-index: 100;

		display: flex;
		align-items: center;

		img {
			vertical-align: middle;

			transition: all 0.3s ease 0s;

			width: 55px;
			margin-right: 15px;
		}

		a {
			color: $color-gray-medium;
			font-weight: 700;
			font-size: 26px;
		}
	}

	&__list {
		display: flex;

		margin-left: auto;
	}

	&__item {
		margin-left: 40px;
	}

	&__link {
		font-size: 20px;
		line-height: 23px;

		color: $color-gray-medium;
	}

	&__burger {
		display: none;
	}

	// styles on scroll

	&.active &__row {
		@media (min-width: 555px) {
			min-height: 70px;
		}
	}
}

@media (max-width: $md2) {
	.header__burger {
		display: block;
		cursor: pointer;
		position: relative;

		width: 30px;
		height: 20px;
		
		margin-left: auto;

		background-color: transparent;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;

			height: 2px;

			background-color: $color-gray-medium;
			transition: all 0.3s ease 0s;
		}

		&::before {
			top: 0;
			left: 0;

			width: 100%;
		}

		&::after {
			bottom: 0;
			right: 0;

			width: 100%;
		}

		span {
			position: absolute;
			left: 0px;
			bottom: 9px;

			width: 100%;
			height: 2px;

			background-color: $color-gray-medium;
			transition: all 0.4s ease 0s;
		}
	}

	.header__burger.header-menu-active::before {
		top: 9px;

		transform: rotate(-45deg);
		width: 100%;
	}

	.header__burger.header-menu-active::after {
		bottom: 9px;
		
		transform: rotate(45deg);
		width: 100%;
	}

	.header__burger.header-menu-active span {
		left: 100%;
		opacity: 0;
	}

	.header__list {
		text-align: center;
		overflow-y: auto;

		position: fixed;
		left: 0;
		width: 100%;
		height: 100%;
		top: -100%;

		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: 110 + 60px;
		transition: all 0.3s ease 0s;

		background-color: $color-blue-lightest;
	}

	.header__list.header-menu-active {
		top: 0;
	}

	.header__item {
		margin-top: 60px;
	}

	.header__link {
		font-size: 30px;
	}
}
