// Vars========

$max-width: 1155;

//Media Queries

$md1: 992px;
$md2: 768px;

//Colors

$color-red-light: #d88fa5;

$color-purple-medium: #8f94d8;

$color-blue-lightest: #f2f9fe;
$color-blue-medium: #4e92ff;

$color-gray-lightest: #bcbfbf;
$color-gray-lighter: #949c9c;
$color-gray-light: #5f6565;
$color-gray-heavier: #8c9494;
$color-gray-medium: #4f4f4f;
$color-gray-dark: #2d312f;
$color-gray-darker: #222222;