// Imports

@import "_vars.scss";
@import "_reset.scss";
@import "_config.scss";

/* Header */

@import "_header.scss";

/* Main section */

.main-section {
	background-color: #ffffff;

	display: flex;
	justify-content: space-between;
	align-items: center;
	
	@include container;

	@media (max-width: $md2) {
		flex-direction: column;
		padding: 40px 10px;
	}

	&__content {
		min-width: 400px;
		@media (max-width: 505px) {
			min-width: 100%;
		}
	}

	&__title {
		font-size: 36px;
		line-height: 1.2;
		font-weight: 700;
		max-width: 432px;
		color: #000;
		@media (max-width: $md2) {
			max-width: 100%;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 24px;
		color: $color-gray-medium;

		max-width: 470px;

		margin-top: 31px;

		@media (max-width: $md2) {
			max-width: 100%;
		}

		&._active {
			transition: all 0.8s ease 0.2s;
		}
	}

	&__link {
		display: inline-block;
		margin-top: 31px;

		transition: all 0.3s ease 0s;

		&._active {
			transition: all 0.8s ease 0.4s;
		}
	}

	&__img {
		display: inline-block;
		max-width: 120%;
		margin-left: 30px;

		@media (max-width: $md2) {
			display: none;
		}
	}
}

/* Advantages */

.advantages {
	background-color: $color-blue-lightest;
	padding-top: 60px;
	padding-bottom: 60px;

	@media (max-width: $md2) {
		padding: 40px 0;
	}

	&__body {
		display: grid;
		grid-template-columns: 350px 1fr;
		align-items: center;

		&:nth-child(2n) {
			grid-template-columns: 1fr 450px;
			@media (max-width: 700px) {
				grid-template-columns: 100%;
			}
		}
		@media (max-width: 700px) {
			grid-template-columns: 100%;
		}
		@media (max-width: 500px) {
			display: flex;
			flex-direction: column;
			margin: 0;
			align-items: stretch;
		}
	}
}

.body-advantages {
	&__content {
		max-width: 477px;
		@media (max-width: 700px) {
			order: 1;
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__text {
		margin-top: 20px;
	}

	&__img {
		@media (max-width: 700px) {
			order: 2;
			margin-top: 20px;
		}
	}
}

/* Much More */

.more {
	@include container;

	padding-top: 60px;

	&__title {
		text-align: center;
	}

	&__text {
		text-align: center;
		padding-top: 25px;

		&._active {
			transition: all 0.8s ease 0.2s;
		}
	}
	&__img {
		margin-top: 50px;
		margin-left: -150px; // aligns the picture in the middle
		@media (max-width: 600px) {
			margin-left: -30px;
		}
	}
}

/* Downloads */

.downloads {
	text-align: center;

	@include container;

	padding-bottom: 60px;
	padding-top: 60px;

	&__link {
		display: inline-block;
		padding-top: 35px;

		&._active {
			transition: all 0.8s ease 0.2s;
		}
	}
}

/* Privacy */

@import "_privacy.scss";

// Footer <================================================================================>

@import "_footer.scss";
