// Vars <================================================================================>

$maxWidth: 1155;
$focusInputColor: rgb(192, 79, 79);
$md2: 767px;

// Imports <================================================================================>

@import '_nullstyle.scss';
@import '_mixins.scss';
@import '_ui.scss';
@import '_slick.scss';
@import '_fonts.scss';

/* Header */

@import '_header.scss';

/* Main section */

.main-section {
	background-color: #ffffff;

	display: flex;
	justify-content: space-between;
	align-items: center;

	max-width: $maxWidth+px;
	margin: 0 auto;
	padding: 50px 10px 0;
	
	@media (max-width:$md2){
		flex-direction: column;
	}

	@media (max-width: $md2){
		padding: 70px 10px;
	}

	@media (max-width:460px){
		padding: 45px 10px;
	}
	
	&__content{
		min-width: 400px;
		@media (max-width: 505px) {
			min-width: 100%;
		}
	}

	&__title {
		font-size: 36px;
		line-height: 1.2;
		font-weight: 700;
		max-width: 432px;
		color: #000;
		@media (max-width:$md2){
			max-width: 100%;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 24px;
		color: #535757;

		max-width: 470px;

		margin-top: 35px;
		@media (max-width:$md2){
			max-width: 100%;
		}

		&._active{
			transition: all 0.8s ease .2s;
		}
	}

	&__link {
		display: inline-block;
		margin-top: 35px;
		transition: all 0.3s ease 0s;

		&._active{
			transition: all 0.8s ease .4s;
		}
	}

	&__img {
		display: inline-block;
		max-width: 120%;
		margin-left: 30px;

		@media (max-width:$md2){
			display: none;
		}
	}
}

/* Advantages */

.advantages {
	background-color: #f2f9fe;
	padding: 50px 0;

	@media (max-width: 500px) {
		padding: 40px 0;
	}

	@media (max-width: 300px) {
		padding: 30px 0;
	}

	&__body {
		display: grid;
		grid-template-columns: 350px 1fr;
		align-items: center;

		&:nth-child(2n){
			grid-template-columns: 1fr 450px;
			@media (max-width: 700px) {
				grid-template-columns: 100%;
			}
		}
		@media (max-width: 700px) {
			grid-template-columns: 100%;
		}
		@media (max-width: 500px) {
			display: flex;
			flex-direction: column;
			margin: 0;
			align-items: stretch;
		}
	}
}

.body-advantages {
	&__content {
		max-width: 477px;
		@media (max-width: 700px) {
			order: 1;
			margin-top: 40px;
		}
	}

	&__text {
		margin-top: 30px;
	}

	&__img {
		@media (max-width: 700px) {
			order: 2;
			margin-top: 20px;
		}
	}
}

/* Much More */

.more {
	margin-top: 72px;
	&__title {
		max-width: 525px;
		margin: 0 auto;
		text-align: center;
	}

	&__text {
		text-align: center;
		margin: 25px auto 0;
		max-width: 753px;

		&._active{
			transition: all .8s ease .2s;
		}
	}
	&__img{
		margin-top: 50px;
		margin-left: -150px; // aligns the picture in the middle
	}
}

/* Downloads */

.downloads {
	text-align: center;

	margin: 72px 0px 72px 0px;

	&__title {
		max-width: 525px;
		margin: 0 auto;
	}

	&__link {
		display: inline-block;
		margin: 35px 0px 0px 0px;

		&._active{
			transition: all .8s ease .2s;
		}
	}
}

/* Privacy */

.privacy {
	color: #000;
	margin: 50px 0px 50px 0px;

	padding: 0 10px;
	max-width: $maxWidth+px;
	margin: 50px auto;

	@media (max-width: 600px) {
		margin: 30px auto;
	}

	&__title {
		font-size: 51px;
		font-weight: 700;

		@media (max-width: 400px) {
			font-size: 40px;
		}
	}

	&__list {
		margin: 44px 0px 0px 0px;
		list-style: none;
		li ol{
			margin: 0 0 0 20px;
		}
		li{
			margin: 0px 0px 0px 0px;
		}
		li ol{
			list-style: none;
		}
	}

	&__text {
		font-size: 18px;
		color: #222;
		line-height: 27px;

		margin: 25px 0px 0px 0px;
	}
}



// Footer <================================================================================>

@import '_footer.scss';