// Импорт файлов <================================================================================>

@import '_nullstyle.scss';

@import '_mixins.scss';

// Переменные <================================================================================>

$maxWidth: 1155;
$md2: 767px;

// Основные <================================================================================>

@import '_ui.scss';
@import '_slick.scss';
@import '_fonts.scss';

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

img{
	max-width: 100%;
}

// Header <================================================================================>

@import '_header.scss';

// <================================================================================>

.main-section {
	background: url("../img/main_section_bg.webp") 0 0/cover no-repeat;
	padding: 50px 0px 0px 0px;
	// .main-section__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width:$md2){
			flex-direction: column;
		}
	}
	// .main-section__title
	&__title {
		font-size: 36px;
		line-height: 1.2;
		font-weight: 700;
		max-width: 432px;
		@media (max-width:$md2){
			max-width: 100%;
		}
	}
	// .main-section__text
	&__text {
		font-size: 14px;
		line-height: 24px;
		color: #9dc7d1;

		max-width: 470px;

		margin: 35px 0px 0px 0px;
		@media (max-width:$md2){
			max-width: 100%;
		}
	}
	// .main-section__link
	&__link {
		display: inline-block;
		margin: 35px 0px 0px 0px;
		transition: all 0.3s ease 0s;
		@media (min-width:$md2){
			&:hover{
				transform: scale(1.1);
			}
		}
	}
	// .main-section__img
	&__img {
		@media (max-width:$md2){
			margin: 20px 0px 0px 0px;
		}
	}
}

// <================================================================================>


.advantages {
	background-color: #f2f9fe;
	padding: 92-30px 0px 92px 0px;
	// .advantages__body
	&__body {
		max-width: 1020px;
		margin: 30px auto 0;
		padding: 0px 10px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .advantages__content
	&__content {
		max-width: 477px;
	}
	// .advantages__title
	&__title {}
	// .advantages__text
	&__text {
		margin: 30px 0px 0px 0px;
		max-width: 428px;
	}
	// .advantages__img
	&__img {
		@media (max-width:370px){
			display: none;
		}
	}
}

// <================================================================================>

.slider {
	padding: 72px 0px 0px 0px;
	// .slider__title
	&__title {
		max-width: 525px;
		margin: 0 auto;
		text-align: center;

		font-size: 36px;
		line-height: 1.2;
		font-weight: 700;
		color: #636c6c;
	}
	// .slider__text
	&__text {
		text-align: center;
		margin: 24px auto 0;
		max-width: 753px;
	}
	// .slider__row
	&__row {
		margin: 76px -15px 0;
	}
	// .slider__item
	&__item {
		padding: 0px 15px;
		img{
			@media (max-width: 396px){
				max-width: 80%;
			}
		}
	}
}

// <================================================================================>

.downloads {
	text-align: center;

	margin: 72px 0px 72px 0px;
	// .downloads__title
	&__title {
		max-width: 525px;
		margin: 0 auto;
	}
	// .downloads__link
	&__link {
		display: inline-block;
		margin: 35px 0px 0px 0px;
	}
}


// Верстка "footer" <================================================================================>

@import '_footer.scss';