/*Reset*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* --- */

/* Body */

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

body.lock {
  overflow-y: hidden;
}

/* Wrapper */

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* Container */

.container {
  max-width: 1155px;
  margin: 0 auto;
  padding: 0px 10px;
}

/* Content */

.content {
  flex: 1 1 auto;
}

/* Components */

.btn {
  display: inline-block;
  transition: 0.3s;
}

.btn img {
  width: 200px;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
}

.title--underline {
  position: relative;
  padding-bottom: 20px;
}

.title--underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 104px;
  height: 2px;
  background-color: #949c9c;
  border-radius: 10px;
  opacity: 0.7;
}

.title--blue {
  color: #4e92ff;
}

.text {
  line-height: 24px;
  color: #4f4f4f;
}

img {
  max-width: 100%;
}

/* Anim-on-scroll */

._anim-item {
  transform: translate(0, 120%);
  opacity: 0;
  transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
}

._anim-item._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

/* Vissually hidden */

.vis-hid {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Badges */

.badge::after {
  font-size: 16px;
  line-height: 7px;
  text-align: center;
  color: #4f4f4f;
  border-radius: 4px;
  padding: 3px;
  margin-left: 3px;
  align-items: center;
}

.badge--new::after {
  content: "new";
  background: #2BC48A;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  box-shadow: 3px 7px 8px 0px rgba(34, 60, 80, 0.11);
}

.header__row {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  min-height: 110px;
  transition: min-height 0.5s ease 0s;
  max-width: 1155px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header__logo {
  z-index: 100;
}

.header__logo img {
  transition: all 0.3s ease 0s;
  width: 55px;
  margin-right: 15px;
  vertical-align: middle;
}

.header__logo a {
  color: #4f4f4f;
  font-weight: 700;
  font-size: 26px;
}

.header__list {
  margin-left: auto;
  display: grid;
  grid-auto-flow: column;
  gap: 40px;
}

.header__link {
  font-size: 20px;
  line-height: 23px;
  color: #4f4f4f;
}

.header__burger {
  display: none;
  background: transparent;
  margin-left: auto;
}

/* Main section */

.main-section {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1155px;
  margin: 0 auto;
  padding: 0px 10px;
}

.main-section__content {
  min-width: 400px;
}

.main-section__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  max-width: 432px;
  color: #000;
}

.main-section__text {
  font-size: 14px;
  line-height: 24px;
  color: #4f4f4f;
  max-width: 470px;
  margin-top: 31px;
}

.main-section__text._active {
  transition: all 0.8s ease 0.2s;
}

.main-section__link {
  display: inline-block;
  margin-top: 31px;
  transition: all 0.3s ease 0s;
}

.main-section__link._active {
  transition: all 0.8s ease 0.4s;
}

.main-section__img {
  display: inline-block;
  max-width: 120%;
  margin-left: 30px;
}

/* Advantages */

.advantages {
  background-color: #f2f9fe;
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages__body {
  display: grid;
  grid-template-columns: 350px 1fr;
  align-items: center;
}

.advantages__body:nth-child(2n) {
  grid-template-columns: 1fr 450px;
}

.body-advantages__content {
  max-width: 477px;
}

.body-advantages__text {
  margin-top: 20px;
}

/* Much More */

.more {
  max-width: 1155px;
  margin: 0 auto;
  padding: 0px 10px;
  padding-top: 60px;
}

.more__title {
  text-align: center;
}

.more__text {
  text-align: center;
  padding-top: 25px;
}

.more__text._active {
  transition: all 0.8s ease 0.2s;
}

.more__img {
  margin-top: 50px;
  margin-left: -150px;
}

/* Downloads */

.downloads {
  text-align: center;
  max-width: 1155px;
  margin: 0 auto;
  padding: 0px 10px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.downloads__link {
  display: inline-block;
  padding-top: 35px;
}

.downloads__link._active {
  transition: all 0.8s ease 0.2s;
}

/* Privacy */

.privacy {
  color: #000;
  margin: 50px 0px 50px 0px;
  padding: 0 10px;
  max-width: 1155px;
  margin: 50px auto;
}

.privacy__list {
  margin: 44px 0px 0px 0px;
  list-style: none;
}

.privacy__list li ol {
  margin: 0 0 0 20px;
}

.privacy__list li {
  margin: 0px 0px 0px 0px;
}

.privacy__list li ol {
  list-style: none;
}

.privacy__text {
  font-size: 18px;
  color: #222;
  line-height: 27px;
  margin: 25px 0px 0px 0px;
}

.footer {
  background-color: #2d312f;
  padding: 30px 0;
}

.footer .container {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}

.footer__copyright {
  font-size: 16px;
  line-height: 25px;
  color: #bcbfbf;
}

.footer__link {
  color: #f2f9fe;
  text-decoration: underline;
}

.footer__link:hover {
  color: #d88fa5;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-left: auto;
}

@media (min-width: 555px) {
  .content {
    margin: 110px 0px 0px 0px;
  }

  .header.active .header__row {
    min-height: 80px;
  }
}

@media (min-width: 768px) {
  .header__link {
    background: linear-gradient(#4e92ff 0 0) 0 100%/var(--d, 0) 3px no-repeat, linear-gradient(#4e92ff 0 0) 100% 100%/var(--d, 0) 3px no-repeat;
    transition: 0.3s;
    padding-bottom: 8px;
  }

  .header__link:hover {
    --d: 51%;
  }
}

@media (max-width: 768px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #4f4f4f;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
    left: 0;
    width: 100%;
  }

  .header__burger::after {
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .header__burger span {
    position: absolute;
    left: 0px;
    bottom: 9px;
    width: 100%;
    height: 2px;
    background-color: #4f4f4f;
    transition: all 0.4s ease 0s;
  }

  .header__burger.header-menu-active::before {
    top: 9px;
    transform: rotate(-45deg);
    width: 100%;
  }

  .header__burger.header-menu-active::after {
    bottom: 9px;
    transform: rotate(45deg);
    width: 100%;
  }

  .header__burger.header-menu-active span {
    left: 100%;
    opacity: 0;
  }

  .header__list {
    position: fixed;
    left: 0;
    top: -100%;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding: 150px 0px 0px 0px;
    transition: top 0.3s ease 0s;
    background-color: #f2f9fe;
  }

  .header__list.header-menu-active {
    top: 0;
  }

  .main-section {
    flex-direction: column;
    padding: 40px 10px;
  }

  .main-section__title {
    max-width: 100%;
  }

  .main-section__text {
    max-width: 100%;
  }

  .main-section__img {
    display: none;
  }

  .advantages {
    padding: 40px 0;
  }

  .footer .container {
    grid-auto-flow: row;
    justify-content: center;
    gap: 30px;
  }

  .footer__copyright {
    text-align: center;
    grid-row: 2;
  }

  .footer__list {
    grid-row: 1;
    gap: 40px;
    margin: 0;
  }
}

@media (max-width: 700px) {
  .advantages__body:nth-child(2n) {
    grid-template-columns: 100%;
  }

  .advantages__body {
    grid-template-columns: 100%;
  }

  .body-advantages__content {
    order: 1;
    margin-bottom: 40px;
  }

  .body-advantages__content:last-child {
    margin-bottom: 0;
  }

  .body-advantages__img {
    order: 2;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .more__img {
    margin-left: -30px;
  }

  .privacy {
    margin: 30px auto;
  }
}

@media (max-width: 555px) {
  .header {
    position: static;
  }

  .header__row {
    padding-bottom: 15px;
    padding-top: 15px;
    min-height: 90px;
  }
}

@media (max-width: 505px) {
  .main-section__content {
    min-width: 100%;
  }
}

@media (max-width: 500px) {
  .advantages__body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: stretch;
  }
}