@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;

700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------------*/

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1155px;
  margin: 0 auto;
  padding: 0px 10px;
}

.content {
  flex: 1 1 auto;
}

.btn {
  display: inline-block;
  transition: 0.3s;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #4e92ff;
}

.title-green {
  position: relative;
  padding: 0px 0px 19px 0px;
}

.title-green::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 104px;
  height: 2px;
  background-color: #949c9c;
  border-radius: 10px;
  opacity: .7;
}

.text {
  line-height: 24px;
  color: #8c9494;
}

._anim-item {
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-item._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.vis-hid {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Слайдер */

.slick-slider {
  position: relative;
}

/* Слайдер запущен */

/* Слайдер с точками */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: flex;
  text-align: center;
  flex: 1 1 33.333%;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  width: 29px;
  height: 48px;
  margin: 0px 10px;
}

.slick-arrow::before {
  content: '';
  width: 29px;
  height: 48px;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  left: 0;
  background: url("../img/slider-images/arrows/arrow-l.png") 0 0 no-repeat;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  right: 0;
  background: url("../img/slider-images/arrows/arrow-r.png") 0 0 no-repeat;
}

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

img {
  max-width: 90%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 110px;
  transition: all 0.3s ease 0s;
}

.header__logo img {
  transition: all 0.3s ease 0s;
}

.header__mail {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #3c3d42;
  display: flex;
}

.header__mail::before {
  content: '';
  display: block;
  background: url("../img/mail_icon.png") 0 0 no-repeat;
  width: 18px;
  height: 13px;
  margin: 4px 12px 0px 0px;
}

.header__mail:hover {
  color: #6c6e78;
}

.header.active .header__row {
  min-height: 70px;
}

.header.active .header__logo img {
  max-width: 80%;
}

.main-section {
  background: url("../img/main_section_bg.webp") 0 0/cover no-repeat;
  background-color: #3e7173;
  padding: 50px 0px 0px 0px;
}

.main-section__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  max-width: 432px;
}

.main-section__text {
  font-size: 14px;
  line-height: 24px;
  color: #9dc7d1;
  max-width: 470px;
  margin: 35px 0px 0px 0px;
}

.main-section__text._active {
  transition: all 0.8s ease .2s;
}

.main-section__link {
  display: inline-block;
  margin: 35px 0px 0px 0px;
  transition: all 0.3s ease 0s;
}

.main-section__link._active {
  transition: all 0.8s ease .4s;
}

.main-section__img {
  display: inline-block;
  max-width: 80%;
  margin: 0px 0px 0px 100px;
}

.advantages {
  background-color: #f2f9fe;
  padding: 62px 0px 92px 0px;
  /* .advantages__container */
  /* .advantages__body */
}

.advantages__container {
  max-width: 1020px;
  margin: 30px auto 0;
  padding: 0 10px;
}

.advantages__body {
  display: grid;
  grid-template-columns: 350px 1fr;
  align-items: center;
  margin-top: 30px;
}

.advantages__body:nth-child(2n) {
  grid-template-columns: 1fr 450px;
}

.body-advantages {
  /* .body-advantages__content */
  /* .body-advantages__title */
  /* .body-advantages__text */
  /* .body-advantages__img */
}

.body-advantages__content {
  max-width: 477px;
}

.body-advantages__text {
  margin: 30px 0px 0px 0px;
}

.slider {
  padding: 72px 0px 0px 0px;
}

.slider__title {
  max-width: 525px;
  margin: 0 auto;
  text-align: center;
}

.slider__text {
  text-align: center;
  margin: 24px auto 0;
  max-width: 753px;
}

.slider__text._active {
  transition: all .8s ease .2s;
}

.slider__row {
  margin: 76px -15px 0;
}

.slider__item {
  padding: 0px 15px;
}

.slider__item img {
  max-width: 70%;
}

.downloads {
  text-align: center;
  margin: 72px 0px 72px 0px;
}

.downloads__title {
  max-width: 525px;
  margin: 0 auto;
}

.downloads__link {
  display: inline-block;
  margin: 35px 0px 0px 0px;
}

.downloads__link._active {
  transition: all .8s ease .2s;
}

.privacy {
  color: #000;
  margin: 50px 0px 50px 0px;
}

.privacy__title {
  font-size: 3.2em;
  font-weight: 700;
}

.privacy__list {
  margin: 44px 0px 0px 0px;
  list-style: none;
}

.privacy__list li ol {
  margin: 0 0 0 20px;
}

.privacy__list li {
  margin: 0px 0px 0px 0px;
}

.privacy__list li ol {
  list-style: none;
}

.privacy__text {
  font-size: 18px;
  color: #222;
  line-height: 27px;
  margin: 25px 0px 0px 0px;
}

.footer {
  min-height: 307px;
  background-color: #2d312f;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer__text {
  font-size: 24px;
  font-weight: 400;
  color: #8c9494;
}

.footer__social-icons {
  display: flex;
  justify-content: center;
  margin: 34px 0px 0px 0px;
}

.footer__social-icon {
  width: 40px;
  height: 40px;
  margin: 0px 0px 0px 30px;
  transition: all 0.3s ease 0s;
}

.footer__social-icon:first-child {
  margin: 0;
}

.footer__social-icon:hover {
  transform: rotate(-360deg);
}

.footer__items {
  margin: 70px 0px 0px 0px;
  display: flex;
}

.footer__link {
  flex: 1 1 calc(100% / 5);
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px 0px 25px;
  transition: -webkit-text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
}

.footer__link:first-child {
  margin: 0;
}

.footer__link a {
  color: #8c9494;
}

.footer__link:hover {
  -webkit-text-decoration: underline #8c9494;
          text-decoration: underline #8c9494;
}

@media (min-width: 555px) {
  .content {
    margin: 110px 0px 0px 0px;
  }
}

@media (min-width: 767px) {
  .main-section__link:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 767px) {
  .main-section__row {
    flex-direction: column;
  }

  .main-section__title {
    max-width: 100%;
  }

  .main-section__text {
    max-width: 100%;
  }

  .main-section__img {
    margin: 40px 0px 0px 0px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .advantages__body:nth-child(2n) {
    grid-template-columns: 100%;
  }

  .advantages__body {
    grid-template-columns: 100%;
  }

  .body-advantages__img {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media (max-width: 555px) {
  .header {
    position: static;
  }

  .header__row {
    flex-direction: column;
    justify-content: center;
  }

  .header__logo {
    text-align: center;
  }

  .header__logo img {
    max-width: 80%;
  }

  .header__mail {
    margin: 20px 0px 0px 0px;
  }
}

@media (max-width: 505px) {
  .main-section {
    padding: 50px 0px 50px 0px;
  }

  .main-section__img {
    display: none;
  }
}

@media (max-width: 396px) {
  .slider__item img {
    max-width: 80%;
  }
}

@media (max-width: 390px) {
  .footer__items {
    flex-wrap: wrap;
  }

  .footer__link {
    flex: 1 1 calc(100% / 4);
  }

  .footer__link:nth-child(n + 4) {
    margin: 10px 0px 0px 0px;
  }
}