/* Global */

@import 'reset.css';
@import 'focus-visible.css';
@import 'variables.css';

/* Blocks */

@import 'blocks/advantages.css';
@import 'blocks/badge.css';
@import 'blocks/download.css';
@import 'blocks/footer.css';
@import 'blocks/header.css';
@import 'blocks/page.css';
@import 'blocks/main.css';
@import 'blocks/more.css';
@import 'blocks/privacy.css';
@import 'blocks/text.css';
@import 'blocks/title.css';
@import 'blocks/visually-hidden.css';
@import 'blocks/logo.css';
@import 'blocks/links.css';