<footer class="footer">
    <p class="footer__info">© iTFlat Apps, All Right Reserved, Designed & Built by <a class="footer__design" rel="noreferrer" target="_blank" href="https://github.com/yesnoruly">Karvacky Roma</a></p>
    <ul class="footer__list">
        <li>
            <a class="footer__social" rel="noreferrer" target="_blank" href="https://www.instagram.com/itflatappsofficial/" aria-label="Got to our Instagram">
                <img src="img/icons/instagram.svg" alt="Instagram" width="32" height="32" loading="lazy">
            </a>
        </li>
        <li>
            <a class="footer__social" rel="noreferrer" target="_blank" href="https://t.me/iTFlatApps" aria-label="Go to our Telegram">
                <img src="img/icons/telegram.svg" alt="Telegram" width="32" height="32" loading="lazy">
            </a>
        </li>
        <li>
            <a class="footer__social" rel="noreferrer" target="_blank" href="mailto:lmsapps2020@gmail.com" aria-label="Write us a letter">
                <img src="img/icons/email.svg" alt="EMail" width="32" height="32" loading="lazy">
            </a>
        </li>
        <li>
            <a class="footer__social" rel="noreferrer" target="_blank" href="https://donatty.com/itflatapps" aria-label="Donate to us">
                <img src="img/icons/donate.svg" alt="Donate" width="32" height="32" loading="lazy">
            </a>
        </li>
    </ul>
</footer>
