<header class="header">
    <a href="index.html" class="header__logo logo">
        <img class="logo__image" src="img/logo.png" alt="Logo." width="60px" height="60px">
        <p class="logo__title">Smart Notes</p>
    </a>
    <nav class="header__list">
        <a target="_blank" href="https://qiwi.com/n/itflatapps" rel="noreferrer" class="header__link badge badge--new">Support Us</a>
        <a href="privacy.html" class="header__link">Privacy & Terms</a>
    </nav>
    <button aria-label="Burger button" class="header__burger" type="button"><span></span></button>
</header>