<a class="main-section__link" href="https://play.google.com/store/apps/details?hl=en_US&id=com.itflat.smartnotes" rel="noreferrer" target="_blank">
    <img src="img/icons/google_play.svg" alt="Google Play" width="160" height="50px" loading="lazy">
</a>

<a class="main-section__link" href="https://store.nashstore.ru/store/6279070f4891a52a3548b3b3" rel="noreferrer" target="_blank">
    <img src="img/icons/nashstore.svg" alt="NashStore icon" width="160" height="50px" loading="lazy">
</a>

<a class="main-section__link" href="https://store.nashstore.ru/store/6279070f4891a52a3548b3b3" rel="noreferrer" target="_blank">
    <img src="img/icons/app_gallery.svg" alt="AppGallery icon" width="160" height="50px" loading="lazy">
</a>