<div class="links">
    <a href="https://play.google.com/store/apps/details?hl=en_US&id=com.itflat.smartnotes" rel="noreferrer" target="_blank">
        <img src="img/icons/google_play.svg" alt="Google Play" width="160" height="50px" loading="lazy">
    </a>
    
    <a href="https://store.nashstore.ru/store/6279070f4891a52a3548b3b3" rel="noreferrer" target="_blank">
        <img src="img/icons/nashstore.svg" alt="NashStore icon" width="160" height="50px" loading="lazy">
    </a>

    <a href="https://apps.rustore.ru/app/com.itflat.smartnotes" rel="noreferrer" target="_blank">
        <img src="img/icons/rustore.svg" alt="RuStore icon" width="147" height="50px" loading="lazy">
    </a>
    
    <a href="https://appgallery.cloud.huawei.com/ag/n/app/C106336101" rel="noreferrer" target="_blank">
        <img src="img/icons/app_gallery.svg" alt="AppGallery icon" width="160" height="50px" loading="lazy">
    </a>
    
    <a class="links__apk" href="/src/assets/Smart Notes v2.0.1 (1706).apk" download>
        <img src="img/icons/apk.svg" alt="Apk icons">
        Download v2.0.1 (11.0 mb)
    </a>
</div>