/* Advantages */

.advantages {
    background-color: var(--color-blue-lightest);
    padding: 60px 70px;
}

@media (max-width: 768px) {
    .advantages {
        padding: 40px 20px;
    }
}

/* Body */

.advantages__body {
    display: grid;
    grid-template-columns: 1000px minmax(100px, max-content);
    align-items: center;
}

.advantages__body:nth-child(even) {
    grid-template-columns: minmax(100px, max-content) 1000px;
}

.body-advantages:nth-child(even) {
    display: flex;
    justify-content: space-between;
}