/* Download */

.downloads {
    padding: 60px 70px;
    text-align: center;
}

@media (max-width: 768px) {
    .downloads {
        padding: 30px 15px;
    }
}

/* Title */

.downloads__title {
    padding-bottom: 30px;
}