/* Page */

.page {
    color: #000;
    background-color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.page, .page__body, .page__grid {
    height: 100%;
}

/* Body */

.page__body.lock {
    overflow-y: hidden;
}

/* Grid */

.page__grid {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}